<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp3.Properties.Settings.FawConnectionString"
            connectionString="Data Source=TOWHID\SQLEXPRESS;Initial Catalog=Faw;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp3.Properties.Settings.ProjectFinalConnectionString"
            connectionString="Data Source=TOWHID\SQLEXPRESS;Initial Catalog=ProjectFinal;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>